*{
  font-family: lato;
  color: #2b2b2b;
}

h2{
  font: bolder;
  font-weight: 900;
  color: #171717;
}

.register{
  font : 7px;
  font-family: lato;
  color: #2b2b2b;}

.register-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: start;
  /* justify-content:space-between; */
  width: 100%;
  padding-left: 10%;
  column-gap: 50px;
}

.control{
  overflow-x: auto;
  font-size: 20px;
  width: 450px;
  padding: 5px;
}

tr{
  overflow: auto;
  /* white-space: nowrap; */
  max-width: 100px;
  /* height: 90px; */

}

table{
  /* overflow: auto; */
  max-width: 200px;
  /* height: 90px; */

}

td{
  overflow: auto;
  max-width: 400px;
  height: 20px;
}


button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
 }
 
 .shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }

 .edge-binary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(139 100% 16%) 0%,
     hsl(139 100% 32%) 8%,
     hsl(139 100% 32%) 92%,
     hsl(139, 100%, 16%) 100%
   );
 }
 
 .edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
     to left,
     hsl(234 100% 16%) 0%,
     hsl(234 100% 32%) 8%,
     hsl(234 100% 32%) 92%,
     hsl(234, 100%, 16%) 100%
   );
 }
 
 .front-binary{
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #bfee90db;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }

 .front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #0066b2;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform
     600ms
     cubic-bezier(.3, .7, .4, 1);
 }


 
 button:hover {
  filter: brightness(110%);
 }
 
 button:hover .front {
  transform: translateY(-6px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
 }
 
 button:hover .shadow {
  transform: translateY(4px);
  transition: transform
     250ms
     cubic-bezier(.3, .7, .4, 1.5);
 }
 
 button:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
 }
 
 button:focus:not(:focus-visible) {
  outline: none;
 }




 .wrapper {
  display: inline-flex;
  list-style: none;
  height: 10px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #DADADA;
  border-radius: 50%;
  margin: 5px;
  width: 20px;
  height: 20px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #B2B2B2;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -25px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #fff;
}


.error{
  background-color: #E4405F;
}
.error-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E4405F;
  margin-top: 50px;
  cursor: pointer;
}

.container-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: first baseline;
  background-color: #f8f8f8;
  width: 100%;
  /* margin-left: 5%; */
  height: 108vh;
  border-radius: 18px;
}

.upper{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: start;
  column-gap: 70%;
  width: 90%;
  border-bottom: #2b2b2b solid 1px;
}

.lower{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: center ;
  column-gap: 150px;

  font-size: 24px;
}

.button-p1{
  top: 10%;
  left: 3%;
}

.program-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  
}

.microprogram-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;

}

.microprogram{
  border-radius: 18px;
  border-color: none;


  width: 350px;
  height: 500px;
  padding: 7px;
  font-size: 18px;
  
}

.program{

  border-color: none;
  border-radius: 18px;

  width: 350px;
  height: 500px;

  padding: 7px;
  font-size: 18px;
}

.lower-p2{
  margin-top: 40px;
  padding-bottom: 40px;
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: start;

  justify-content: space-between;

  font-size: 24px;
}

.lower-p2-tables{
  display: flex;
  flex-direction: column;
  row-gap: 100px;  
}

.table-container {
  max-height: 300px;
  overflow-y: auto; 
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.button-p2-container{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}



